<div id="printDocment">
    <div class="card mb-2">
        <div class="card-header">
            <div class="row">
                <div class="col"><h4>TENANCY AGREEMENT</h4></div>
                <div class="col"><input type="button" value="Print Agreement" class="d-print-none btn btn-primary"  (click)="printContract('printDocment')" /></div>
            </div>
            
            
        </div>
    </div>
    <br />
    <p>
        This is a legally binding agreement. It is intended to promote household harmony by clarifying the expectations and
        responsibilities of the homeowner or Principal Tenant (Landlords) and Tenant when they share the same home. The
        term “Landlord” refers to either homeowner or Principal Tenant. Landlord shall provide a copy of this executed
        document to the Tenant, as required by law.
    </p>
    <div class="border-bottom"></div>
    <h5>
        <u>RENTAL UNIT ADDRESS PARTIES</u>
    </h5>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Landlord/Agent:</h5>
                </div>
                <div class="card-body">
                    <span>{{house?.landlord.name}}</span><br />
                    <span>{{house?.landlord.address1}}</span><br />
                    <span>{{house?.landlord.address2}}</span><br />
                    <span>{{house?.landlord.address3}}</span><br />
                    <span>{{house?.landlord.address4}}</span><br />
                    <span>{{house?.landlord.address5}}</span><br />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Tenant(s):</h5>
                </div>
                <div class="card-body">
                    <span>{{house?.tenant1}} and {{house?.tenant2}}</span><br />
                    <span>{{house?.address1}}</span><br />
                    <span>{{house?.address2}}</span><br />
                    <span>{{house?.address3}}</span><br />
                    <span>{{house?.address4}}</span><br />
                    <span>{{house?.address5}}</span><br />
                </div>
            </div>
        </div>
    </div>
    <hr style="margin:10px" />
    <h5>
        <u>LENGTH OF AGREEMENT: (One Year)</u>
    </h5>
    <div class="row">
        <div class="col" style="margin-left:10px"><b>From: {{house?.dateFrom | date: 'dd-MMM-yyyy'}}  </b> </div>
        <div class="col" style="margin-left:10px"><b>To: {{house?.dateTo | date: 'dd-MMM-yyyy'}} </b></div>
    </div>
    <br/>
    <hr style="margin:5px" />
    <div class="row">
        <div class="col-md-12" style="margin-left:10px"><b>Rent (per calendar month): {{house?.rent | currency:'GBP'}} </b> </div>
        <div class="col-md-12" style="margin-left:10px"><b>Advance Rent: {{house?.deposit | currency:'GBP'}} </b></div>
    </div>
    <hr style="margin:5px" />
    <div class="row">
        <div class="col-md-12" style="margin-left:10px">
            One Year Contract with a Break Clause of 6 Months. <br /> This Security Deposit is refundable in full as and
            when the room is vacated (subject to terms and conditions).
        </div>
        <div class="col-md-12" style="margin-left:10px"><br />PLEASE READ THE TERMS AND CONDITIONS IN FULL BEFORE SIGNING</div>
    </div>
    <hr style="margin:5px" />
    <h5 align="center"><b>TERMS & CONDITIONS</b></h5>
    <p>
        1)	The Landlord/Managing Agent give the Lodger the personal right to live in the Accommodation and to use the Shared Rooms. The Lodger agrees to observe and perform the obligations set out in the Terms & Conditions enclosed in with this Agreement.
    </p>
    <p>
        2)	The Tenant Do not have to pay for the following services: Electricity, Gas, Water, Heating and Council Tax.
    </p>
    <p>
        3)	The Rooms Contents: (1) Wardrobe. (1) Bed/s & Mattresses (Single/Double). The Shared Rooms: Kitchen, Bathroom/WC and Garden.
    </p>
    <p>
        4)	The lodger is aware that the landlord/managing agent will have access to the property at any time
    </p>
    <p>
        5)	The lodger will only use their own bedroom, communal rooms (as listed above) and communal areas and will not enter any other rooms of the house without the landlords/managing agents or residents permission.
    </p>
    <p>
        6)	The lodger agrees that should they leave before the 6 months break clause period is up they will be liable to complete payments up and to the break clause date unless by prior written agreement from the landlord/managing agent.
    </p>
    <p>
        7)	The lodger agrees that there is a one-month’ notice period after the 6 months break clause period thereafter.
    </p>

    <p>8)	The lodger agrees that it is their responsibility to pay for any damages they caused to any equipment, fixtures and fittings and that in such event, moneys for their replacement or rectification will be deducted from their deposit and they may be asked to leave forthwith. Should the damage exceed this amount they will also be liable for additional costs.</p>

    <p>9)	They will not give away or lend their key to anyone and will inform the landlord immediately should they lose it.</p>
    <div class="page-break"> </div>
    <br />
    <p>10)	The lodger will not permit friends or partners to inhabit the property without the express permission of the landlord/managing agent.</p>
    <p>11)	The lodger agrees not to use any cooking, washing or cleaning equipment without reading the instructions first.</p>
    <p>12)	The lodger agrees to clean up each and every time they use any communal rooms and equipment.</p>
    <p>13)	The lodger agrees not to play any loud music or make any noises that could potentially disturb other residents and neighbours after 9PM.</p>
    <p>14)	The lodger agrees to keep good relations with the surrounding neighbours and other residents.</p>
    <p>15)	The lodger will provide their own bedding and towels and will not use anybody else’s food or drinks or other equipment.</p>
    <p>16)	The lodger is aware that it is their responsibility to keep their personal belongings safe. The landlord/managing agent therefore will not accept responsibility for any loss or damage to the lodger’s personal belongings.</p>
    <p>17)	The lodger is aware that if are one week behind in rent payments they will be given one weeks’ notice to bring their rent up to date and that in the event of their failure to do this, they will be given one week to leave with the locks being changed on this period date and will remain responsible for the balance of the agreement.</p>
    <p>18)	The lodger agrees and understands that in the event of any late payments each day will incur a charge of £25 up to a maximum of two weeks, failure to correct the arrears will result in action being taken (refer to section 17 of terms& conditions).</p>
    <p>19)	In the event of an eviction your arrears will be passed to a debt collection agency which can incur further charges.</p>
    <p>20)	The balance for any remaining period may be deducted from the lodgers deposit should this occur after six months has elapsed.</p>
    <p>21)	The lodger will not take out any finances in this address that may leave a poor credit score.</p>
    <p>22)	The lodger understands that they must give access to the landlord/managing agent or their authorised agents to enter the room when reasonably requested for inspection, cleaning, security or viewing reasons.</p>
    <p>23)	The lodger agrees to vacate the premises within one month on receipt of a written request of notice (after the 6 month break clause period stated in clause 6) by the landlord/managing agent.</p>
    <p>24)	In the event that the landlord requires the premises to be emptied immediately all monies will be calculated up till the date of which you leave and refunds will be issued accordingly.</p>
    <p>25)	In the event that you lock yourself out of your room, you will incur a charge of £25 during office hours (Mon-Fri 10am-6pm, Sat 10am-4pm, Sun Closed), £50 out of hours.</p>
    <p>26)	If a lock needs to be replaced the charge will be £25.</p>
    <p>27)	In the event you lose your keys a replacement set will cost £15 per set.</p>
    <p>28)	The rent in advance will be used to cover the tenants last month of rent as per the contract term.</p>
    <br />
    <h5><u>THIS AGREEMENT IS ENTERED UPON THE DATE: {{house?.dateFrom | date: 'dd-MMM-yyyy'}}</u></h5>
    <br />

    <table style="width: 100%">
        <tr>
            <td style="border-bottom: 1px  solid;width:50%">Landlord/Agent: Signature:</td>
            <td style="border-bottom: 1px  solid;width:50%">Tenant Signature:</td>
        </tr>
        <tr>
            <td>(On And Behalf Of The Landlord)</td>
            <td></td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <table style="width: 100%">
        <tr>
            <td style="border-bottom: 1px  solid; width:50%">Landlord Print Name</td>
            <td style="border-bottom: 1px  solid; width:50%">Tenant Print Name:</td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <p><b>Please make sure you understand all terms and conditions before signing the contract</b></p>
</div>
