<div class="card mb-2">
    <form novalidate (ngSubmit)="save(houseForm)"  #houseForm="ngForm">
      <div class="card-header text-white bg-primary">
        <h5>Add New Home</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label class="control-label"> Address</label>
          <div class="input-group">
            <input
              placeholder="Address (required)"
              required
              [(ngModel)]=house.address1
              name="address1"
              #address1Var="ngModel"
              [ngClass]="{
                'is-invalid':
                  (address1Var.touched || address1Var.dirty) && !address1Var.valid
              }"
              class="form-control"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"
                ><span class="fa fa-road"></span
              ></span>
            </div>
          </div>
          <span *ngIf="(address1Var.touched || address1Var.dirty) && address1Var.errors?.required" class="text-danger">
            Please enter your Address.
          </span>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="input-group">
              <input
                placeholder="Address (required)"
                required
                [(ngModel)]=house!.address2
                name="address2"
                #address2Var="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (address2Var.touched || address2Var.dirty) &&
                    !address2Var.valid
                }"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><span class="fa fa-road"></span
                ></span>
              </div>
            </div>
            <span *ngIf="(address2Var.touched || address2Var.dirty) && address2Var.errors?.required" class="text-danger">
              Address is required
            </span>
          </div>
          <div class="form-group col-md-6">
            <div class="input-group">
              <input
                placeholder="Address (required)"
                required
                [(ngModel)]="house!.address3"
                name="address3"
                #address3Var="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (address3Var.touched || address3Var.dirty) &&
                    !address3Var.valid
                }"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><span class="fa fa-road"></span
                ></span>
              </div>
            </div>
            <span *ngIf="(address3Var.touched || address3Var.dirty) && address3Var.errors?.required" class="text-danger">
              Address is required
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="input-group">
              <input
                placeholder="Address (required)"
                required
                [(ngModel)]="house!.address4"
                name="address4"
                #address4Var="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (address4Var.touched || address4Var.dirty) &&
                    !address4Var.valid
                }"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><span class="fa fa-road"></span
                ></span>
              </div>
            </div>
            <span *ngIf="(address4Var.touched || address4Var.dirty) && address4Var.errors?.required" class="text-danger">
              Address is required
            </span>
          </div>
          <div class="form-group col-md-6">
            <div class="input-group">
              <input
                placeholder="Address (required)"
                required
                [(ngModel)]="house!.address5"
                name="address5"
                #address5Var="ngModel"
                
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><span class="fa fa-road"></span
                ></span>
              </div>
            </div>
          
          </div>
        </div>
        <hr style="margin: 6px;" />
        <div class="form-row">
          <div class="form-group col-md-6">
            <label asp-for="House.Tenant1" class="control-label">Tenant 1</label>
            <div class="input-group">
              <input
                placeholder="Tenant (required)"
                required
                [(ngModel)]="house.tenant1"
                name="tenant1"
                #tenant1Var="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (tenant1Var.touched || tenant1Var.dirty) && !tenant1Var.valid
                }"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><span class="fa fa-user-plus"></span
                ></span>
              </div>
            </div>
            <span *ngIf="(tenant1Var.touched || tenant1Var.dirty) && tenant1Var.errors?.required" class="text-danger">
              Tenant is required
            </span>
          </div>
          <div class="form-group col-md-6">
            <label asp-for="House.Tenant2" class="control-label">Tenant 2</label>
            <div class="input-group">
              <input
                placeholder="Address (required)"
                [(ngModel)]="house.tenant2"
                name="tenant1"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><span class="fa fa-user-plus"></span
                ></span>
              </div>
            </div>
          </div>
        </div>
        <hr style="margin: 6px;" />
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="control-label">Contract Start</label>
            <div class="input-group">
              <input 
                 type="text" 
                 bsDatepicker 
                 name="dateFrom"
                 [(ngModel)]="house.dateFrom"
                 [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY'}"
                 (bsValueChange)="onValueChange($event)"
                 class="form-control" 
                 [isOpen]="isOpenFrom">
              <div class="input-group-append">
                <span
                  (click)="isOpenFrom = !isOpenFrom"
                  class="input-group-text"
                  id="basic-addon2"
                  ><span class="fa fa-calendar"></span
                ></span>
              </div>
            </div>
            <span asp-validation-for="House.DateFrom" class="text-danger"></span>
          </div>
          <div class="form-group col-md-6">
              <label class="control-label"> End of contract</label>
                  <div class="input-group date">
                      <input 
                        type="text" 
                        name="dateTo"
                        bsDatepicker 
                        [(ngModel)]="house.dateTo"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY'}"
                        class="form-control" [isOpen]="isOpenTo">
                      <div class="input-group-append">
                          <span  class="input-group-text" id="basic-addon2"><span class="fa fa-calendar" (click)="isOpenTo = !isOpenTo"></span></span>
                      </div>
                  </div>
                  <span asp-validation-for="House.DateTo" class="text-danger"></span>
              </div>
        </div>
        <div class="form-group">
          <label asp-for="House.LandlordId" class="control-label">
            Landlord Name</label
          >
          <div class="input-group">
            <select
              id="landlordId"
              [(ngModel)]="house.landlordId"
              name="landlordId"
              class="form-control"
            >
              <option *ngFor="let landlord of landlords" [value]="landlord.id"
                >{{ landlord.name }}
              </option>
            </select>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"
                ><span class="fa fa-user-circle"></span
              ></span>
            </div>
          </div>
          <span asp-validation-for="House.LandlordId" class="text-danger"></span>
        </div>
        <hr style="margin: 6px;" />
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="control-label">Rent</label>
            <div class="input-group">
              <input
                placeholder="Rent (required)"
                required
                [ngModel]="house.rent | currency: 'GBP'"
                name="rent"
                #rentVar="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (rentVar.touched || rentVar.dirty) && !rentVar.valid
                }"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><span class="fa fa-gbp"></span
                ></span>
              </div>
            </div>
            <span *ngIf="(rentVar.touched || rentVar.dirty) && rentVar.errors?.required" class="text-danger">
              Rent is required
            </span>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Deposit</label>
            <div class="input-group">
              <input
                placeholder="Deposit (required)"
                required
                [ngModel]="house.deposit | currency: 'GBP'"
                name="deposit"
                #depositVar="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (depositVar.touched || depositVar.dirty) && !depositVar.valid
                }"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><span class="fa fa-gbp"></span
                ></span>
              </div>
            </div>
            <span *ngIf="(depositVar.touched || depositVar.dirty) && depositVar.errors?.required" class="text-danger">
              Deposit is required
            </span>
          </div>
        </div>
        <hr style="margin: 6px;" />
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="control-label">Mobile Phone</label>
            <div class="input-group">
              <input
                placeholder="Mobile Number (required)"
                required
                [(ngModel)]="house.mobile"
                name="mobile"
                #mobileVar="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (mobileVar.touched || mobileVar.dirty) && !mobileVar.valid
                }"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><span class="fa fa-mobile"></span
                ></span>
              </div>
            </div>
            <span *ngIf="(mobileVar.touched || mobileVar.dirty) && mobileVar.errors?.required" class="text-danger">
              Deposit is required
            </span>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Email</label>
            <div class="input-group">
              <input
                placeholder="Email (required)"
                required
                [(ngModel)]="house.email"
                name="email"
                #EmailVar="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (EmailVar.touched || EmailVar.dirty) && !EmailVar.valid
                }"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><span class="fa fa-envelope"></span
                ></span>
              </div>
            </div>
            <span *ngIf="(EmailVar.touched || EmailVar.dirty) &&EmailVar.errors?.required" class="text-danger">
              Email is required
            </span>
          </div>
        </div>
      </div>
  
      <div class="card-footer">
        <div class="row">
          <div class="col">
              <a [routerLink]="['/houses']" class="btn btn-primary float-left">Back</a>
          </div>
          <div class="col pull-right">
              <input type="submit" value="Save" class="btn btn-primary float-right" [disabled]="!houseForm.valid"/>
          </div>
        </div>
      </div>
    </form>
  </div>
