
<div class="card mb-2">
    <div class="card-header">
        <h4>House List</h4>
    </div>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button  [routerLink]="['addhouse']" class="btn btn-primary"  id="button-addon1"><i class="fa fa-plus-circle"></i></button>
        <button (click)="searchHomes()" class="btn btn-primary"  id="button-addon1"><i class="fa fa-search"></i></button>
    </div>
    <input type="text" [(ngModel)]="searchtxt" class="form-control" placeholder="Address or Tenant">
</div>  
<div class="table-responsive g-mb-40">
    <div *ngIf="isLoading"  class="card" style="height:100px;">
       <div class="card-body">
           <ngx-spinner [fullScreen]="false" type="line-scale" size="medium">
            
           </ngx-spinner>
       </div>
    </div>
    <!-- <div >
       
    </div> -->
    
    <table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>

              Address
            </th>

            <th class="d-none d-sm-table-cell">
                Tenant
            </th>
            <th class="d-none d-sm-table-cell">
              Date From
            </th>

            <th class="d-none d-sm-table-cell">
                To
            </th>
            <th class="d-none d-sm-table-cell">
               Rent
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let house of displaySource">
            <td>
                {{house.address1}}
            </td>

            <td class="d-none d-sm-table-cell">
                {{house.tenant1}}
            </td>

            <td class="d-none d-sm-table-cell">
                {{house.dateFrom | date: 'dd-MMM-yyyy'}}
            </td>
            <td class="d-none d-sm-table-cell">
                {{house.dateTo | date: 'dd-MMM-yyyy'}}
            </td>
            <td class="d-none d-sm-table-cell">
                {{house.rent | currency:'GBP'}}
            </td>
            <td style="text-align: right">
                <a title="Edit"  [routerLink]="['edithouse', house.id]"><i class="fa fa-edit"></i></a> |
                <a title="Print" [routerLink]="['printdetails', house.id]"><i class="fa fa-print"></i></a> |
                <a title="Delete" [routerLink]="['deletehouse', house.id]" ><i class="fa fa-trash"></i></a>
            </td>
           
        </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example" *ngIf="pageCount > 0">
    <ul class="pagination">
      <li [ngClass]="{disabled: currentPage === 0}" class="page-item"><a  class="page-link" (click)="paginate(0)">First</a></li>
      <li [ngClass]="{disabled: currentPage === 0}" class="page-item"><a class="page-link" (click)="paginate(currentPage - 1)">Previous</a></li>
      <li [ngClass]="{disabled: currentPage +1 === pageCount}" class="page-item"><a class="page-link" (click)="paginate(currentPage + 1)">Next</a></li>
      <li [ngClass]="{disabled: currentPage +1 === pageCount}" class="page-item"><a class="page-link" (click)="paginate(pageCount - 1)">Last</a></li>
    </ul>
  </nav>

